---
import Muro from "../img/muro.jpg";
import FormRh from "./FormRh.astro";
---

<div class="grid gap-4">
  <FormRh />

  <div class="grid grid-cols-5 gap-4">
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://tienda.buscalperu.com/wp-content/uploads/2020/09/Gyplac-RH-cotas-scaled.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://tienda.buscalperu.com/wp-content/uploads/2020/09/TABIQUE-RH-NO-SENAL.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://peruconstruye.net/wp-content/uploads/2019/12/DRYWALL-04.12.19.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://peruconstruye.net/wp-content/uploads/2021/11/CONSTRUCCION-DRYWALL-scaled.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://www.evisos.com.pe/img/tmp/2022/05/22/drywall-construcciones-acabados_qkb2pt7_3.jpg"
        alt=""
      />
    </div>
  </div>
</div>
