---
import Layout from "../layouts/Layout.astro";
import Linkscalculadora from "../components/Linkscalculadora.astro";
import TitleDeCalculos from "../components/TitleDeCalculos.astro";
import Containerbal120 from "../components/Baldosa60x120/Containerbal120.astro";
---

<Layout title="Calculando Plancha Standar">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-2">
    <div class="col-span-1">
      <Linkscalculadora />
    </div>

    <div class="col-span-2">
      <TitleDeCalculos title="TECHO CON BALDOSA 0.61M X 1.22M " />
      <div class="container__form grid grid-cols-1 p-6 m-auto rounded-md">
        <!-- etapa 1 fibrecemento-->
        <Containerbal120 />
      </div>
    </div>
  </div>
</Layout>
