---
import Layout from "../layouts/Layout.astro";
import TipoCalculos from "../components/TipoCalculos.astro";
import Scroll from "../components/Scroll.astro";
---

<Layout title="Calculadora Drywall">
  <main class="w-auto h-auto">
    <TipoCalculos />
  </main>
</Layout>
