---
import { contacto } from "../data/contacto.js";
---

<section
  class="grid place-content-center gap-2 bg-slate-200 w-full h-[450px] text-center"
>
  <h3>-- Acesores De Ventas --</h3>
  {
    contacto.map((cv) => (
      <article class="box px-3">
        <div class="list">
          <div class="imgBx">
            <img src={cv.img} />
          </div>

          <div class="content">
            <h2 class="rank">
              <small>#</small>
              {cv.id}
            </h2>
            <h4>{cv.name}</h4>
            <p>cv.cel</p>
          </div>
        </div>
      </article>
    ))
  }
</section>

<style>
  h3 {
    font-size: 1.75em;
    color: #333;
    margin-bottom: 20px;
  }
  .box {
    position: relative;
    min-width: 350px;
  }
  .box .list {
    position: relative;
    display: flex;
    paddinf: 10px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background: #fff;
  }
  .box:hover .list {
    filter: blur(5px);
    opacity: 0.25;
  }
  .box .list:hover {
    box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
    transform: scale(1.15);
    filter: blur(0px);
    opacity: 1;
  }
  .box .list .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
  }
  .box .list .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box .list .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
  }
  .box .list .content .rank {
    position: absolute;
    right: -50px;
    color: #03a9f4;
    transition: 0.5s;
    font-size: 2em;
  }
  .box .list .content .rank small {
    font-weight: 500;
    opacity: 0.25;
  }
  .box .list:hover .content .rank {
    right: 20px;
  }
  .box .list .content h4 {
    line-height: 1.2em;
    font-weight: 600;
  }
  .box .list .content p {
    font-size: 0.75em;
  }
</style>
