---

---

<div>
  <footer>
    <div class="container">
      <div class="sec aboutus">
        <h2>Sobre Nosotros</h2>
        <p>
          Tu especialista en Drywall, coberturas de policarbonato y techos
          ligeros. Encuéntranos en Chimbote y Nuevo Chimbote para soluciones de
          construcción innovadoras y de calidad.
        </p>
        <ul class="sci">
          <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
        </ul>
      </div>

      <div class="sec quickLinks">
        <h2>Enlaces Rápidos</h2>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms & Consition</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="sec contact">
        <h2>Contact Info</h2>
        <ul class="info">
          <li>
            <span><ion-icon name="location-outline"></ion-icon></span>
            <span>19 de Marzo Mz k Lote 10 - Nuevo Chimbote</span>
          </li>
          <li>
            <span><ion-icon name="call-outline"></ion-icon></span>
            <p><a href="tel:12345678">+51 994 322 867</a></p>
          </li>
          <li>
            <span><ion-icon name="location-outline"></ion-icon></span>
            <span>Av. Buenos Aires 646 - Chimbote</span>
          </li>
          <li>
            <span><ion-icon name="call-outline"></ion-icon></span>
            <p><a href="tel:1234567"> +51 994 322 867</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyrightText">
    <p>Copyright ® 2023 Ervic Linares. Developer</p>
  </div>
</div>
<style>
  footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .container .sec {
    margin-right: 30px;
  }
  footer .container .sec.aboutus {
    width: 40%;
  }
  footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  }
  footer .container h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }

  footer p {
    color: #999;
  }

  .sci {
    margin-top: 20px;
    display: flex;
  }
  .sci li {
    list-style: none;
  }
  .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .sci li a:hover {
    background: #f00;
  }
  .sci li a ion-icon {
    color: #fff;
    font-size: 20px;
  }

  .quickLinks {
    position: relative;
    width: 25%;
  }
  .quickLinks ul li {
    list-style: none;
  }
  .quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  .quickLinks ul li a:hover {
    color: #fff;
  }
  .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }
  .contact .info {
    position: relative;
  }
  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  .contact .info li span {
    color: #999;
  }
  .copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
  }
  @media (max-width: 991px) {
    footer {
      padding: 40px;
    }
    footer .container {
      flex-direction: column;
    }
    footer .container .sec {
      margin-right: 0;
      margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact {
      width: 100%;
    }
    .copyrightText {
      padding: 8px 40px;
    }
  }
</style>
