---
import Scroll from "./Scroll.astro";
---

<div class="p-4 m-full col-span-1 row-span-4">
  <div
    class="flex items-center justify-center text-white font-semibold bg-gradient-to-r from-gray-800 to-black px-1 py-3 rounded-full border border-gray-600 gap-5 animate__animated animate__flipInX"
  >
    <ion-icon class="icon text-2xl" name="calculator-outline"></ion-icon>
    <h1 class="text-slate-200 text-2xl font-bold">TIPOS DE CALCULOS</h1>
  </div>

  <nav class="mx-1 py-3 w-full text-yellow-50">
    <ul class="text-white text-md flex flex-col gap-4 w-full">
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon>
        <a href="/Standar" class="">TABIQUE STANDAR (INTERIOR)</a>
      </li>
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="/Rh"
          >TABIQUE SANITARIO RH (INTERIOR)</a
        >
      </li>
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="/Fibrecemento"
          >TABIQUE SUPERBOARD EXTERIOR-INTERIOR</a
        >
      </li>
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="/CieloRaso"
          >CIELO RASO</a
        >
      </li>
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="/Baldosa60x60"
          >TECHO CON BALDOSA 0.61M X 0.61M</a
        >
      </li>
      <li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="/Baldosa60x120"
          >TECHO CON BALDOSA 0.61M X 1.22M</a
        >
      </li>
<li
        class="text-white bg-gray-900 hover:text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"
      >
        <ion-icon
          class="mx-2 text-xl text-green-500 font-bold"
          name="arrow-redo-outline"></ion-icon><a href="https://www.zhitov.com/es/wooden_truss/"
          >CERCHA DE MADERA </a
        >
      </li>
    </ul>
  </nav>
  <Scroll />
</div>

<style>
  .icon {
    color: #ffc122;
    text-align: center;
    font-size: 2.5rem;
  }
</style>
