---
import img1 from "../img/Proyecto-1.jpg";
import img2 from "../img/Proyecto-3-1.jpg";
import img3 from "../img/Viviendas-Drywall.jpg";
import img4 from "../img/bungalows-modulares-back.jpg";
---

<div class="slider">
  <ul>
    <li><img src={img1.src} alt="Proyecto 1" /></li>
    <li><img src={img2.src} alt="Proyecto 2 " /></li>
    <li><img src={img3.src} alt="Proyecto 3" /></li>
    <li><img src={img4.src} alt="Proyecto 4" /></li>
  </ul>
</div>

<style>
  .slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    z-index: -10;
  }
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
  }
  .slider li {
    width: 100%;
    list-style: none;
  }
  .slider img {
    widows: 100%;
  }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
</style>
