---
import Linkscalculadora from "./Linkscalculadora.astro";
import Public from "./PublicPrincipal.astro";
---

<section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 py-7">
  <Linkscalculadora />
  <Public />
</section>
