---
import Muro from "../img/muro.jpg";
import FormFibrocemento from "../Fibrecemento/FormFibrecemento.astro";
---

<div class="grid gap-4">
  <FormFibrocemento />

  <div class="grid grid-cols-5 gap-4">
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://promart.vteximg.com.br/arquivos/ids/570606-1000-1000/22484_4.jpg?v=637401124088030000"
        alt="superboad"
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://tienda.buscalperu.com/wp-content/uploads/2020/09/TABIQUE-RH-NO-SENAL.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://peruconstruye.net/wp-content/uploads/2019/12/DRYWALL-04.12.19.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://maestros.com.co/wp-content/uploads/2020/03/C%C3%93MO-HACER-UN-MURO-EN-DRYWALL-EN-5-PASOS-a-la-obra-maestros-construcci%C3%B3n-dise%C3%B1o-arquitectura-obra-contratista-Colombia.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full max-w-full rounded-lg object-cover"
        src="https://d-hn-ca-221.dideo.ir/image/a2NjY2JjTFBBSk5rZnYyT1dMWURJV1lnSC9SZ2NzYVZmaWZKL3ZpL2NaNW4rODRpekJiMlBmM3lmeW1LaXNmemlVd1pXRy9jUmVHTHU4ZWU0OVZka3JDME5jWmdMT25NbC9uLy9QU3Fma2ZnaGEzcW0wUm5aWW1GR1ZwbDRneFJTQVAvbG1nUVcwejl6ZG5IMTRyTDVEWFNWMTZFRVN2WDRZM1daQzcxZjFnZWIwQXVmSzVkZEdNMmRUdXlrNklxSnF6WnNUVVQrQ3pGS2JIVHJsNU1PbllPY255ZDhxTll5NzJwNUdPZ09LMHphckJsMmt2MTlGYzBXdFVXRnMzSA=="
        alt=""
      />
    </div>
  </div>
</div>
